@import "helpers/smart-grid";
@import "helpers/variables";

.wrapper {
  @include wrapper();
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Nekst', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: $black;
  line-height: 1;
  letter-spacing: -0.02px;
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main {
  flex: 1 0 auto;
}

.btn {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: $yellow;
  font-family: 'Nekst', sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #fff;

  &:hover {
    background-color: $black;
  }

  &:disabled {
    background: rgba(255, 149, 20, 0.4);
  }
}
