<div id="modal_1" class="modal">
  <button class="modal__close">
    &times;
  </button>
  <form class="modal__content">
    <h3>Оформить заказ</h3>
  </form>
</div>
<div class="modal__backdrop modal__backdrop--hidden" id="modal-backdrop"></div>
