<header class="header">
  <div class="wrapper">
    <div class="header__items">
      <a href="#" class="header__items__logo">
        {{ logo }}
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__list__item">
            <a href="#" class="nav__list__item__link nav__list__item__link--active">fhdjkslhf</a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__item__link">123456788</a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__item__link">fhdjkslhf</a>
          </li>
        </ul>
      </nav>
      <a href="tel:" class="header__items__phone"></a>
      <button class="burger" aria-label="Меню">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
